@{
    ViewBag.Title = "View";
}
<h1>Sign Up (it's free!)</h1>

<h2>First, a few things about you</h2>

<h4>Please fill in the following form with your personal details.<br />
    These will be used to help pre-populate any relevant legal forms for you, speeding up the entire @ViewBag.ContentType transaction process.</h4>



