@model ICollection<Services.Management.Product>

@section Header
{
    <div class="diylaw-header" id="content">
        <div class="container">
            <h1>D.I.Y. LAW</h1>
            <h2>Everything you need to get from A to B.</h2>
            <p>Click on a product below to get started:</p>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="row">
        @foreach (var product in Model.Where(d => !d.IsDeleted).AsEnumerable())
        {
            <div class="col-md-4" style="text-justify: auto;">
                <h2>@product.Name</h2>
                <p>@product.Description</p>
                <p>@Html.ActionLink("Find out more", "Details", "Products", new {id = @product.Id}, new {@class = "btn btn-primary"})</p>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6">
            No products found?
        </div>
    </div>
}