@{
    ViewBag.Title = "Citizen.Law";
}

<div class="jumbotron">
    <h1>Citizen Law</h1>
    <h2 class="lead">Putting the law back into your own hands</h2>
    <p>Pick an area below to start</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Selling Your Property</h2>
        <p>Everything you need to sell your own property, without the need of solicitors, estate agents or any other middle-men.</p>
        <p><a class="btn btn-default" href="../Overview/sell">Sell A Property</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buying A Property</h2>
        <p>Buy a property in the UK, without conveyancers or solicitors eating into your resources.</p>
        <p><a class="btn btn-default" href="../Overview/buy">Buy A Property</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buying AND Selling A Property</h2>
        <p>Represent yourself legally within a property chain, keeping your costs to a minimum.</p>
        <p><a class="btn btn-default" href="../Overview/chain">Buy & Sell A Property</a></p>
    </div>
</div>