@section Header
{
    <div class="diylaw-header" id="content">
        <div class="container">
            <h1>D.I.Y. LAW</h1>
            <h2>Everything you need to get from A to B.</h2>
            <p>Click on a product below to get started:</p>
        </div>
    </div>
}