.nav, .navbar {
    background-color: white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div .panel-danger {
    margin-left: 2em;
    margin-right: 2em;
}

.diylaw-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    color: #cdbfe3;
    background-color: #6f5499;
    background-repeat: repeat-x;
    margin-bottom: 0.5em;
    margin: 0 0 0.5em 0 !important;
    width: 100% !important;
}

h1 {
    font-size: 72px;
}

.panel {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.panel-body {
    padding-left: 4em;
}